CONFIG_MACH_VEXRISCV=y
CONFIG_BUILTIN_DTB=y
CONFIG_BUILTIN_DTB_NAME="vexriscv"
# CONFIG_GLOBALVAR is not set
CONFIG_TEXT_BASE=0x80f00000
CONFIG_MEMORY_LAYOUT_FIXED=y
CONFIG_STACK_BASE=0x82000000
CONFIG_MALLOC_BASE=0x82000000
CONFIG_MALLOC_TLSF=y
CONFIG_PANIC_HANG=y
CONFIG_BOOTM_SHOW_TYPE=y
CONFIG_BOOTM_VERBOSE=y
CONFIG_BOOTM_INITRD=y
CONFIG_BOOTM_OFTREE=y
CONFIG_BOOTM_OFTREE_UIMAGE=y
CONFIG_CONSOLE_SIMPLE=y
# CONFIG_ENV_HANDLING is not set
CONFIG_POLLER=y
CONFIG_DEFAULT_LOGLEVEL=8
CONFIG_DEBUG_LL=y
CONFIG_DEBUG_INITCALLS=y
CONFIG_CMD_DMESG=y
CONFIG_LONGHELP=y
CONFIG_CMD_MEMINFO=y
CONFIG_CMD_BOOT=y
CONFIG_CMD_GO=y
# CONFIG_CMD_MOUNT is not set
# CONFIG_CMD_UMOUNT is not set
# CONFIG_CMD_CAT is not set
# CONFIG_CMD_CD is not set
# CONFIG_CMD_CP is not set
# CONFIG_CMD_LS is not set
# CONFIG_CMD_MKDIR is not set
# CONFIG_CMD_PWD is not set
# CONFIG_CMD_RM is not set
# CONFIG_CMD_RMDIR is not set
# CONFIG_CMD_FALSE is not set
# CONFIG_CMD_TEST is not set
# CONFIG_CMD_TRUE is not set
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
CONFIG_CMD_TIME=y
CONFIG_NET=y
CONFIG_OFDEVICE=y
# CONFIG_SPI is not set
# CONFIG_PINCTRL is not set
# CONFIG_FS_RAMFS is not set
# CONFIG_FS_DEVFS is not set
